<div class="mxwd">
  <section class="products">
    <ul class="list">
      <li class="list__item">
        <figure class="products__figure">
          <img ngSrc="assets/products/product-01.png"
               width="400"
               height="461"
               alt="fashion"
               class="products__figure__image">
        </figure>
      </li>
      <li class="list__item">
        <figure class="products__figure">
          <img ngSrc="assets/products/product-02.png"
               width="762"
               height="1033"
               alt="fashion"
               class="products__figure__image">
        </figure>
      </li>
      <li class="list__item">
        <figure class="products__figure">
          <img ngSrc="assets/products/product-03.png"
               width="500"
               height="500"
               alt="fashion"
               class="products__figure__image">
        </figure>
      </li>
      <li class="list__item">
        <figure class="products__figure">
          <img ngSrc="assets/products/product-04.png"
               width="600"
               height="600"
               alt="fashion"
               class="products__figure__image">
        </figure>
      </li>
    </ul>

    <div class="products__info">
      <p class="fs-14">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium iure laboriosam nobis numquam possimus
        repudiandae.
      </p>
      <div class="actions line-left">
        <button class="button button--arrow">
          <span class="fw-500 upper">Ir a la tienda</span>
        </button>
      </div>
    </div>
  </section>
</div>
