<section class="hero">
  <figure class="hero__figure">
    <img ngSrc="assets/resources/ropa_beige.jpg"
         class="hero__figure__image width-to-left"
         width="1920"
         height="1440"
         alt="ropa beige"
         appInViewport>
  </figure>

  <div class="hero__info to-bottom"
       appInViewport>
    <span class="hero__info__extra upper fw-500">Fashion</span>
    <h1 class="hero__info__title upper serif title">
      La mejor ropa de moda de temporada
    </h1>
    <p class="hero__info__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur doloribus eos fuga obcaecati quibusdam
      repudiandae!
    </p>
    <div class="hero__info__actions line-left">
      <button class="button button--link">
        <span class="upper fw-500">Leer más</span>
      </button>
      <button class="button button--link">
        <span class="upper fw-500">Tienda en línea</span>
      </button>
    </div>
  </div>
</section>
