.hero {
  display: flex;
  align-items: center;
  overflow: hidden;
  min-height: 670px;
  max-height: calc(100vh - 72px);

  &__figure {
    &__image {
      min-height: 670px;
      height: calc(100vh - 72px);
      filter: brightness(0.5);
    }
  }

  &__info {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 72px;
    padding: 1.5rem;
    max-width: 580px;

    &__extra,
    &__title,
    &__text,
    .button span {
      color: var(--beige-100);
    }

    .button {
      &::after {
        background-color: var(--beige-100);
      }
    }

    &__actions {
      display: flex;
      gap: 1.5rem;
    }
  }

  @media (min-width: 1140px) {
    display: grid;
    grid-template-columns: 1fr 430px;

    &__figure {
      &__image {
        filter: brightness(1);
      }
    }

    &__info {
      right: 0;
      max-width: 430px;
      background-color: #fff;

      &__extra,
      &__title,
      &__text,
      .button span {
        color: var(--black-900);
      }

      .button {
        &::after {
          background-color: var(--black-900);
        }
      }

      &__extra,
      &__title, {
        transform: translateX(calc(-430px / 4));
        mix-blend-mode: difference;
        color: #fff;
      }

      &__actions {
        justify-content: flex-end;
      }
    }
  }

  @media (min-width: 1420px) {
    grid-template-columns: 1fr calc(((100vw - 1420px) / 2) + 430px);

    &__info {
      right: calc(((100vw - var(--max-width)) / 2));
    }
  }
}
