<div class="mxwd">
  <section class="hook">
    <figure class="hook__figure">
      <img ngSrc="assets/resources/mujer_brisa.jpg"
           width="1920"
           height="2880"
           alt="fashion"
           class="hook__figure__image">
    </figure>
    <div class="hook__info">
      <span class="hook__info__extra upper fw-500">Verano</span>
      <h1 class="hook__info__title upper serif title">
        Ropa de verano de temporada
      </h1>
      <p class="hook__info__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur doloribus eos fuga obcaecati quibusdam
        repudiandae!
      </p>
      <div class="hook__info__actions line-left">
        <button class="button button--link">
          <span class="upper fw-500">Ver productos</span>
        </button>
      </div>
    </div>
  </section>
  <section class="hook hook--reverse">
    <figure class="hook__figure">
      <img ngSrc="assets/resources/mujer_con_saco.jpg"
           width="1920"
           height="2400"
           alt="fashion"
           class="hook__figure__image">
    </figure>
    <div class="hook__info">
      <span class="hook__info__extra upper fw-500">Invierno</span>
      <h1 class="hook__info__title upper serif title">
        Ropa de invierno de temporada
      </h1>
      <p class="hook__info__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur doloribus eos fuga obcaecati quibusdam
        repudiandae!
      </p>
      <div class="hook__info__actions line-right">
        <button class="button button--link">
          <span class="upper fw-500">Ver productos</span>
        </button>
      </div>
    </div>
  </section>
  <section class="hook">
    <figure class="hook__figure">
      <img ngSrc="assets/resources/mujer_vestido.jpg"
           width="1920"
           height="2880"
           alt="fashion"
           class="hook__figure__image">
    </figure>
    <div class="hook__info">
      <span class="hook__info__extra upper fw-500">Verano</span>
      <h1 class="hook__info__title upper serif title">
        Ropa de verano de temporada
      </h1>
      <p class="hook__info__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur doloribus eos fuga obcaecati quibusdam
        repudiandae!
      </p>
      <div class="hook__info__actions line-left">
        <button class="button button--link">
          <span class="upper fw-500">Ver productos</span>
        </button>
      </div>
    </div>
  </section>
  <section class="hook hook--reverse">
    <figure class="hook__figure">
      <img ngSrc="assets/resources/mujer_carretera.jpg"
           width="1920"
           height="2880"
           alt="fashion"
           class="hook__figure__image">
    </figure>
    <div class="hook__info">
      <span class="hook__info__extra upper fw-500">Invierno</span>
      <h1 class="hook__info__title upper serif title">
        Ropa de invierno de temporada
      </h1>
      <p class="hook__info__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur doloribus eos fuga obcaecati quibusdam
        repudiandae!
      </p>
      <div class="hook__info__actions line-right">
        <button class="button button--link">
          <span class="upper fw-500">Ver productos</span>
        </button>
      </div>
    </div>
  </section>
</div>
