@mixin button-link {
  height: auto;
  padding: 8px 0;
  border-bottom: 2px solid transparent;
  background-color: transparent;

  span,
  .bi {
    color: var(--black-900);
  }

  &::after {
    width: 0;
    height: 2px;
  }

  &:hover,
  .active {
    &::after {
      width: 100%;
    }
  }
}

@mixin button-after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--black-900);
  transition: var(--transition-time);
  z-index: 0;
}

@mixin button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: fit-content;
  height: 52px;
  padding: 8px 16px;
  border-radius: var(--radius);
  background-color: transparent;
  border: 1px solid transparent;

  &::after {
    @include button-after;
  }

  span,
  .bi {
    line-height: 1;
    color: var(--beige-100);
    z-index: 1;
  }

  span {
    font-size: 14px;
    text-wrap: nowrap;
  }

  .bi {
    font-size: 19px;
  }

  &:hover {
    &::after {
      background-color: var(--black-950);
      left: 0;
    }
  }

  &--outline {
    border: 1px solid var(--black-900);

    &::after {
      width: 0;
    }

    span,
    .bi {
      color: var(--black-900);
    }

    &:hover {
      &::after {
        width: 100%;
      }

      span,
      .bi {
        color: var(--beige-100);
      }
    }
  }

  &--link {
    @include button-link;
  }

  &--arrow {
    @include button-link;
    height: 32px;
    padding: 0 0 0 calc(30px + 8px);
    transition: var(--transition-time);

    span {
      &::after {
        @include button-after;
        position: relative;
        width: 0;
        height: 2px;
        bottom: -5px;
      }
    }

    &::after {
      display: none;
    }

    &::before {
      content: "\F135";
      font-family: bootstrap-icons, sans-serif;
      position: absolute;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      font-size: 24px;
      border: 1px solid var(--black-900);
      border-radius: 50%;
      transition: var(--transition-time);
    }

    &:hover {
      padding: 0 calc(30px + 8px) 0 0;

      &::before {
        left: calc(100% - 30px);
        background-color: var(--black-900);
        color: var(--beige-100);
      }

      span {
        &::after {
          width: 100%;
        }
      }
    }
  }

  &--icon {
    padding: 0;

    &::after {
      display: none;
    }

    .bi {
      color: var(--black-900);
      font-size: 30px;
      transition: var(--transition-time);
    }

    &:hover {
      .bi {
        transform: scale(1.15);
      }
    }
  }
}
