<div class="message">
  <span class="fs-11 upper fw-500">Lorem ipsum dolor sit amet, consectetur adipisicing.</span>
</div>
<header class="header">
  <div class="header__content mxwd">
    <nav class="nav">
      <a class="button button--link upper">
        <span class="fs-11">Principal</span>
      </a>
      <a class="button button--link upper">
        <span class="fs-11">Sobre nosotros</span>
      </a>
      <a class="button button--link upper">
        <span class="fs-11">Tiendas físicas</span>
      </a>
      <a class="button button--link upper">
        <span class="fs-11">Contacto</span>
      </a>
    </nav>
    <div class="logo">
      <!--<img class="logo__image">-->
      <a class="logo__title serif">CAVIARES</a>
    </div>
    <button class="button button--primary button--outline button-toggle"
            aria-label="toggle menu"
            (click)="toggleMenu()">
      <i class="bi bi-list"></i>
    </button>
    <div class="shop">
      <a class="button button--link upper">
        <span class="fs-11">Tienda en línea</span>
      </a>
      <a class="button button--link upper">
        <span class="fs-11">Carrito</span>
        <i class="bi bi-cart2"></i>
      </a>
    </div>
  </div>
  @if (showMenu()) {
    <nav class="nav nav-mobile">
      <a class="button button--link upper">
        <span class="fs-11">Principal</span>
      </a>
      <a class="button button--link upper">
        <span class="fs-11">Sobre nosotros</span>
      </a>
      <a class="button button--link upper">
        <span class="fs-11">Tiendas físicas</span>
      </a>
      <a class="button button--link upper">
        <span class="fs-11">Contacto</span>
      </a>
      <a class="button button--link upper">
        <span class="fs-11">Tienda en línea</span>
      </a>
      <a class="button button--link upper">
        <span class="fs-11">Carrito</span>
        <i class="bi bi-cart2"></i>
      </a>
    </nav>
  }
</header>

<button class="button button--outline button-scroll-top"
        aria-label="scroll top"
        (click)="scrollTop()">
  <i class="bi bi-arrow-up"></i>
</button>
