<div class="mxwd">
  <h2 class="title upper fw-500">
    <span class="title serif upper fw-500">Lo más</span> destacado
  </h2>
  <section class="highlights">
    <div class="highlights__item fade-in"
         appInViewport>
      <figure class="highlights__item__figure">
        <img ngSrc="assets/resources/ropa-playa.jpg"
             width="1920"
             height="2880"
             alt="ropa playa">
      </figure>
      <span class="fs-18 fw-500 upper d-block">Playa</span>
      <p class="fs-22 fw-500 upper serif">
        Prendas exclusivas de verano para playa
      </p>
    </div>
    <div class="highlights__item fade-in"
         appInViewport>
      <figure class="highlights__item__figure">
        <img ngSrc="assets/resources/blazer.jpg"
             width="1920"
             height="2473"
             alt="blazer">
      </figure>
      <span class="fs-18 fw-500 upper d-block">Blazer</span>
      <p class="fs-22 fw-500 upper serif">
        Blazers con diseños innovadores
      </p>
    </div>
    <div class="highlights__item fade-in"
         appInViewport>
      <figure class="highlights__item__figure">
        <img ngSrc="assets/resources/formal.jpg"
             width="1920"
             height="2880"
             alt="ropa formal">
      </figure>
      <span class="fs-18 fw-500 upper d-block">Elegante</span>
      <p class="fs-22 fw-500 upper serif">
        Viste elegante de manera ocacional
      </p>
    </div>
    <div class="highlights__item fade-in"
         appInViewport>
      <figure class="highlights__item__figure">
        <img ngSrc="assets/resources/pijama.jpg"
             width="1920"
             height="2400"
             alt="ropa playa">
      </figure>
      <span class="fs-18 fw-500 upper d-block">Pijama</span>
      <p class="fs-22 fw-500 upper serif">
        Prendas comodas para dormir
      </p>
    </div>
  </section>
</div>
