<app-hero/>
<main class="main">
  <app-hook>
    <div class="mxwd">
      <section class="hook">
        <figure class="hook__figure">
          <img ngSrc="assets/resources/mujer_brisa.jpg"
               width="1920"
               height="2880"
               alt="fashion"
               class="hook__figure__image width-to-left"
               appInViewport>
        </figure>
        <div class="hook__info to-bottom"
             appInViewport>
          <span class="hook__info__extra upper fw-500">Verano</span>
          <h1 class="hook__info__title upper serif title">
            Ropa de verano de temporada
          </h1>
          <p class="hook__info__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur doloribus eos fuga obcaecati
            quibusdam
            repudiandae!
          </p>
          <div class="hook__info__actions line-left">
            <button class="button button--arrow">
              <span class="upper fw-500">Ver productos</span>
            </button>
          </div>
        </div>
      </section>
      <section class="hook hook--reverse">
        <figure class="hook__figure">
          <img ngSrc="assets/resources/mujer_con_saco.jpg"
               width="1920"
               height="2400"
               alt="fashion"
               class="hook__figure__image width-to-right"
               appInViewport>
        </figure>
        <div class="hook__info to-bottom"
             appInViewport>
          <span class="hook__info__extra upper fw-500">Invierno</span>
          <h1 class="hook__info__title upper serif title">
            Ropa de invierno de temporada
          </h1>
          <p class="hook__info__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur doloribus eos fuga obcaecati
            quibusdam
            repudiandae!
          </p>
          <div class="hook__info__actions line-right">
            <button class="button button--arrow">
              <span class="upper fw-500">Ver productos</span>
            </button>
          </div>
        </div>
      </section>
      <section class="hook">
        <figure class="hook__figure">
          <img ngSrc="assets/resources/mujer_vestido.jpg"
               width="1920"
               height="2880"
               alt="fashion"
               class="hook__figure__image width-to-left"
               appInViewport>
        </figure>
        <div class="hook__info to-bottom"
             appInViewport>
          <span class="hook__info__extra upper fw-500">Verano</span>
          <h1 class="hook__info__title upper serif title">
            Ropa de verano de temporada
          </h1>
          <p class="hook__info__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur doloribus eos fuga obcaecati
            quibusdam
            repudiandae!
          </p>
          <div class="hook__info__actions line-left">
            <button class="button button--arrow">
              <span class="upper fw-500">Ver productos</span>
            </button>
          </div>
        </div>
      </section>
      <section class="hook hook--reverse">
        <figure class="hook__figure">
          <img ngSrc="assets/resources/mujer_carretera.jpg"
               width="1920"
               height="2880"
               alt="fashion"
               class="hook__figure__image width-to-right"
               appInViewport>
        </figure>
        <div class="hook__info to-bottom"
             appInViewport>
          <span class="hook__info__extra upper fw-500">Invierno</span>
          <h1 class="hook__info__title upper serif title">
            Ropa de invierno de temporada
          </h1>
          <p class="hook__info__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur doloribus eos fuga obcaecati
            quibusdam
            repudiandae!
          </p>
          <div class="hook__info__actions line-right">
            <button class="button button--arrow">
              <span class="upper fw-500">Ver productos</span>
            </button>
          </div>
        </div>
      </section>
    </div>
  </app-hook>
  <app-products/>
  <app-hook>
    <section class="hook hook--reverse exclusive">
      <figure class="hook__figure">
        <img ngSrc="assets/resources/beach-dress.png"
             width="1920"
             height="1280"
             alt="fashion"
             class="hook__figure__image width-to-right"
             appInViewport>
      </figure>
      <div class="hook__info to-bottom"
           appInViewport>
        <span class="hook__info__extra upper fw-500">Fashion</span>
        <h1 class="hook__info__title upper serif title">
          Prendas exclusivas de ocación
        </h1>
        <p class="hook__info__text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur doloribus eos fuga obcaecati
          quibusdam repudiandae!
        </p>
        <div class="hook__info__actions line-right">
          <button class="button button--arrow">
            <span class="upper fw-500">Ir a la tienda</span>
          </button>
        </div>
      </div>
    </section>

    <div class="mxwd">
      <section class="hook">
        <figure class="hook__figure">
          <img ngSrc="assets/resources/vestido-negro.jpg"
               width="1728"
               height="2592"
               alt="fashion"
               class="hook__figure__image width-to-left"
               appInViewport>
        </figure>
        <div class="hook__info to-bottom"
             appInViewport>
          <span class="hook__info__extra upper fw-500">Verano</span>
          <h1 class="hook__info__title upper serif title">
            Ropa de verano de temporada
          </h1>
          <p class="hook__info__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur doloribus eos fuga obcaecati
            quibusdam
            repudiandae!
          </p>
          <div class="hook__info__actions line-left">
            <button class="button button--arrow">
              <span class="upper fw-500">Ver productos</span>
            </button>
          </div>
        </div>
      </section>
      <section class="hook hook--reverse hook--socials">
        <figure class="hook__figure">
          <img ngSrc="assets/resources/car.jpg"
               width="1920"
               height="1280"
               alt="fashion"
               class="hook__figure__image width-to-right"
               appInViewport>
        </figure>
        <div class="hook__info to-bottom"
             appInViewport>
          <span class="hook__info__extra upper fw-500">Redes sociales</span>
          <h1 class="hook__info__title upper serif title">
            Síguenos
          </h1>
          <p class="hook__info__text fw-500">
            Para más contenido y novedades
          </p>
          <div class="hook__info__actions">
            <button class="button button--icon">
              <i class="bi bi-instagram"></i>
            </button>
            <button class="button button--icon">
              <i class="bi bi-facebook"></i>
            </button>
            <button class="button button--icon">
              <i class="bi bi-whatsapp"></i>
            </button>
          </div>
        </div>
      </section>
    </div>
  </app-hook>
</main>

<div class="tape">
  <span class="fs-11 fw-500 upper">Lorem ipsum dolor sit amet, consectetur.</span>
</div>
