<footer class="footer">
  <div class="mxwd">
    <div class="footer__row fade-in"
         appInViewport>
      <div class="footer__row__item socials">
        <a class="button button--icon">
          <i class="bi bi-facebook"></i>
        </a>
        <a class="button button--icon">
          <i class="bi bi-instagram"></i>
        </a>
        <a class="button button--icon">
          <i class="bi bi-whatsapp"></i>
        </a>
      </div>
      <h2 class="footer__row__item title upper serif">Caviares</h2>
      <nav class="footer__row__item nav">
        <a class="button button--link"
           routerLink="/ecommerce">
          <span class="upper fw-500">Tienda en línea</span>
        </a>
        <a class="button button--link"
           routerLink="/contacto">
          <span class="upper fw-500">Contacto</span>
        </a>
      </nav>
    </div>
    <div class="footer__row fade-in"
         appInViewport>
      <span class="footer__row__item fs-12 serif">
        La moda es exclusiva
      </span>
      <span class="footer__row__item fs-12 serif">
        Copyright 2024
      </span>
      <span class="footer__row__item fs-12">
        Hecho por <a href="https://www.instagram.com/kevinlugo.dev/?theme=dark"
                     class="button button--link d-inline-block button--developer"
                     target="_blank">
        <span class="fs-12 fw-500">{{ '@kevinlugo.dev' }}</span>
      </a>
      </span>
    </div>
  </div>
</footer>
